{{ define "body" }}
	<form method="POST" action="/submit">
		<fieldset>
			<section>
				<label for="input#word">Custom hello word</label>
				<input name="word" id="word" type="text"></input>
			</section>
			<section>
				<input type="submit" value="Form submit some thing"></input>
			</section>
		</fieldset>
	</form>
{{ end }}
