{{ define "body" }}
	<h1>Lists</h1>

	<h2><a href="/form">wanna say hello? click here</a></h2>

	<ul>
	{{ range .Hellos }}
		<li>{{ .Id }}</li>
		<li>{{ .HelloWord }}</li>
		<br/>
	{{ end }}
	</ul>

	<hr/>

	<footer>
		<i>
			The source code for this application is
			<a href="https://gitlab.com/insanitywholesale/go-grpc-microservice-template">
				in this repository
			</a>
			for everyone to see
		</i>
	</footer>
{{ end }}
