{{ define "main" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Go gRPC microservice template</title>
	<style>
		* {box-sizing: border-box;}
		body {background-color:#404;color:#fc3;}
		h1 {color:cyan;}
		a {color:#bff;}
	</style>
	</head>
	<body>
		{{ template "body" . }}
	</body>
</html>
{{ end }}
